.container-empty-input input {
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-ardosia-900);
}

.container-filled-resultados {
    display: none;
    background-color: var(--cor-ardosia-900);
    padding: 20px;
}

.container-filled-resultados h2 {
    color: var(--cor-branco);
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: start;
    padding: 12px 0;
}

.container-filled-resultados p {
    color: var(--cor-ardosia-500);
    text-align: start;
    line-height: 22px;
    padding: 12px 0;
}

.container-filled-resultados-box {
    background-color: var(--cor-ardosia-1000);
    text-align: start;
    padding: 5px 16px;
    border-radius: 8px;
    border-top: 4px solid var(--cor-amarelo);
}

.container-filled-resultados-box h3 {
    color: var(--cor-ardosia-500);
    font-size: 15px;
    font-weight: 700;
    padding: 8px 0;
}

.container-filled-resultados-box .total-mensal {
    color: var(--cor-amarelo);
    font-size: 35px;
    font-weight: 600;
    margin: 8px 0 10px 0;
    border-bottom: 0.5px solid var(--cor-ardosia-300);
    padding-bottom: 30px;
}

.container-filled-resultados-box .total-final {
    color: var(--cor-branco);
    font-size: 25px;
    font-weight: 600;
}